<div class="row center-block">
    <div class="col-lg-12 col-md-8">
        <div class="panel-heading text-center">
            <h2>About Me</h2>
        </div>
        <div class="panel-body">
            <div class="col-lg-2 col-md-2">
                <span>
                    <img src="resources/dist/images/07f4934.jpg" width="120px" height="120px" style="border-radius: 60px"/>
                </span>
            </div>
            <div class="col-md-10 col-lg-10">
              <span class="">
                 <h4>My name is Dharmendra Vishwakarma. I develop web applications using <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">Java</a> technologies. 
                  I'm Software Engineer from Mumbai, India.</h4>
                 <p> I like to work on backend <a href="https://en.wikipedia.org/wiki/Server-side" target="_blank">server-side</a> programming.
                 I have worked as web application developer developing <a href="https://en.wikipedia.org/wiki/Enterprise_software" target="_blank">enterprise applications</a> with involvement right from the <a href="https://en.wikipedia.org/wiki/Requirements_analysis" target="_blank">requirement gathering</a> to deployment phase in <a href="https://en.wikipedia.org/wiki/Software_release_life_cycle" target="_blank">software development cycle</a> in the <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">agile</a> fashion.</p>
                  <ul class="list-group" style="list-style-type: none;">
                      <li>★ About {{yearofExperience}} years of IT experience in designing and developing applications in JAVA stack.</li>
                      <li>⇨ Banking domain experience.</li>
                      <li>⇨ Strong problem-solving skills.</li>
                      <li>⇨ I have good experience in data structures & algorithms and also have been working on various frameworks in java.</li>
                      <li>⇨ Some of the Frameworks that include ZK, Groovy on Grails and Spring MVC framework.</li>
                      <li>⇨ I like to play with databases. I have worked on various databases like Oracle Database(10g & 11g) and MySQL.</li>
                      <li>⇨ I have also worked on Liferay portlet applications with Spring MVC.</li>
                      <li>⇨ I have also worked on client-side frameworks.(I like the approach of thick smart clients in web architecture) like Angular JS.</li>
                      <li>⇨ In free time, I like to listen to a song and read articles on latest technologies.</li>
                      <li>⇨ Apart from these current work, I would like to work on AI and Data science domain.</li>
                      <li>⇨ I have a great interest in learning new technologies and cool things in web and mobile that can change the perception of web apps and mobile apps into smart, intelligent system.</li>
                  </ul>
              </span>
            </div>
        </div>

    </div>
</div>