<div class="row ">

    <div class="col-md-offset-2 col-md-8 col-sm-12 top-margin" >
        <div >
            <ul class="timeline">
                <li class="time-label">
                                <span class="bg-orange">My Professional & Academic Career
                                </span>
                    <br />
                    <br />
                </li>

				<li class="time-label">
                    <span class="bg-light-blue">2016 - Present</span>
                </li>
                <!-- <li>
                    <i class="fa fa-briefcase bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 30 October</span>
                        <h3 class="timeline-header"><a href="https://www.lntinfotech.com/" target="_blank">LTI- L&t Infotech</a>, Sr. Software Engineer</h3>
                        <div class="timeline-body">
                            Enhancing my skills in Investment banking. 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-light-blue">2016 - 2017</span>
                </li> -->
                <li>
                    <i class="fa fa-briefcase bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 16 March</span>
                        <h3 class="timeline-header"><a href="http://www.intelliswift.co.in/" target="_blank">Intelliswift Software India Pvt. Ltd.</a>, Sr. Software Engineer</h3>
                        <div class="timeline-body">
                            Working on development of web applications in banking domain. 
                            <ul>
                                <li>Appsec implementation, Application integration</li>
                                <li>Full stack development.</li>
                                <li>Implemented all <a href="https://www.owasp.org">Open Security Standards</a> points.</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-light-blue">2013-2016</span>
                </li>

                <li>
                    <i class="fa fa-briefcase bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 1 July</span>
                        <h3 class="timeline-header"><a href="http://neebal.com" target="_blank">Neebal Technologies Pvt. Ltd.</a>, Software Engineer</h3>
                        <div class="timeline-body">
                            Started my professional career as a Associate Software developer.  
                            <ul>
                                <li>Worked on 10-12 projects with various technologies involved specifically Java, J2EE, Spring, Hibernate, Grails, ZK, Javascript, Jquery and Angular JS.</li>
                                <li>Have developed atleast 5-6 projects start from scratch with Full stack development.</li>
                                <li>Have been a Tech Lead.</li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="time-label">
                                <span class="bg-light-blue"> 2009-2013
                                </span>
                </li>
                <li>
                    <i class="fa fa-trophy bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>20 June</span>
                        <h3 class="timeline-header"><span style="color:green;font-weight: bold;">Graduated</span>, <a href="http://www.sfitengg.org/" target="_blank">St. Francis Institute Of Technology</a> - Mumbai University</h3>
                        <div class="timeline-body">
                            Passed graduation with First class with Distinction(72%).
                        </div>
                    </div>
                </li>
                <li class="time-label">
                                <span class="bg-light-blue"> 2007-2009
                                </span>
                </li>
                <li>
                    <i class="fa fa-thumbs-up bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>15 June</span>
                        <h3 class="timeline-header"><span style="color:green;font-weight: bold;">Cleared</span> M.H.C.E.T. Exam</h3>
                        <div class="timeline-body">
                            Cleared MHCET exam with good marks(156/200).<i>(good enough for getting admission in Mumbai for year 2009)</i>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-flag bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>1 June</span>
                        <h3 class="timeline-header"><span style="color:green;font-weight: bold;">Completed</span> Higher Secondary school(HSC)</h3>
                        <div class="timeline-body">
                            Completed HSC with <b>2nd Rank(84%)</b> from Shailendra Education Society Jr College(S.E.S).
                        </div>
                    </div>
                </li>


                <li class="time-label">
                                <span class="bg-light-blue"> 1997-2007
                                </span>
                </li>
                <li>
                    <i class="fa fa-flag bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>15 June</span>
                        <h3 class="timeline-header"><span style="color:green;font-weight: bold;">Completed</span> Secondary school education(SSC)</h3>
                        <div class="timeline-body">
                            Completed SSC with <b>1st Rank(88%)</b> from Shakti Seva Sangh Madhyamik Vidyalaya(S.S.S.M.V.).
                        </div>
                    </div>
                </li>

                <li class="time-label">
                                <span class="bg-light-blue"> Year 1991
                                </span>
                </li>
                <li>
                    <i class="fa fa-eye bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>18 October</span>
                        <h3 class="timeline-header"><span style="color:green;font-weight: bold;">Born</span>, Mumbai,India</h3>
                        <div class="timeline-body">
                            Everything starts from somewhere!
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                </li>
            </ul>
        </div>
    </div>

</div>
