<div class="row" >
    <div class="head-wrap shift-text" >
        <!-- <div> -->
            <img src="resources/dist/images/07f4934.jpg" width="120px" height="120px" style="border-radius: 60px"/>
        <!-- </div> -->
        <span><h2> Hi, My name is Dharmendra Vishwakarma.</h2></span>
        <span><h4><font color="green">** Looking for Job Offers/Freelancing work</font></h4></span>
    </div>
</div>
<div class="row">
    <div class="text-editor-wrap">
        <div class="title-bar">
            root@vdharam.com
        </div>
        <div class="text-body">
            <div class="text-info" style="float: left">
                <span>[root@vdharam.com>]$cd</span>
                <span class="element"></span>
            </div>
        </div>
    </div>
</div>