<div class="row center-block">
    <div class="col-lg-12 col-md-8 text-center">
            <h2>Technical Skills</h2>
    </div>
    <div class="col-lg-6">
         <div class="panel">
             <div class="panel-heading"><b>Programming Languages</b></div>
             <div class="panel-body">
                 <table class="table">
                     <tr>
                         <td class="bg-light-blue">Computer Languages :</td><td>Java (Core Java, J2EE), Javascript, SQL, PL-SQL</td>
                     </tr>
                     <tr>
                         <td class="bg-light-blue">Frameworks :</td><td>Spring, Hibernate, Grails, ZK, NodeJS</td>
                     </tr>
                     <tr>
                         <td class="bg-light-blue">CMS :</td><td>Liferay CE (v 6.0.6)</td>
                     </tr>
                     <tr>
                         <td class="bg-light-blue">Database :</td><td>Oracle (10g,11g), MySQL, NoSQL</td>
                     </tr>
                     <tr>
                         <td class="bg-light-blue">Web Technology :</td><td>HTML, JQuery, Angular JS, JavaScript, AJAX, XML, JSON, CSS</td>
                     </tr>

                 </table>
             </div>
         </div>
    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading"><b>Tools</b></div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td class="bg-light-blue">Operating System :</td><td>Windows(XP,7 & 8), Linux (Ubuntu 15.10, CentOS 6.6)</td>
                    </tr>
                    <tr>
                        <td class="bg-light-blue">IDE :</td><td>Eclipse, GGTS, STS, Netbeans, Visual Studio</td>
                    </tr>
                    <tr>
                        <td class="bg-light-blue">Text Editor :</td><td>Sublime Text, Notepad++, Gedit, Brackets</td>
                    </tr>
                    <tr>
                        <td class="bg-light-blue">Version Control :</td><td>Tortoise SVN, Subclipse, Git</td>
                    </tr>
                    <tr>
                        <td class="bg-light-blue">Web/App Server :</td><td>Apache Tomcat, Glassfish</td>
                    </tr>
                    <tr>
                        <td class="bg-light-blue">Tools :</td><td>Oracle Sql Developer, Toad, PMP, Sonarlint, Bugfix</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

